@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Signika+Negative:wght@300;400;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply mr-[calc(100%-100vw)] overflow-x-hidden;
}
body {
  @apply max-w-3xl my-0 mx-auto bg-neutral-200 print:bg-white overflow-x-hidden;
}
a {
  @apply text-primary-500 hover:text-primary-900 transition duration-200 ease-out print:text-black;
}
.pPages {
  @apply font-light my-4 text-left text-xl text-neutral-900 font-primary print:text-black;
}
.h1Pages {
  @apply text-left text-6xl font-thin ml-[-4px] text-neutral-900 my-4 font-primary print:text-black;
}
.h2Pages {
  @apply my-0 text-left text-4xl font-thin nocount font-primary text-neutral-900 print:text-black;
}
.resumeDateAndLocationPC {
  @apply md:w-48 flex-none text-right hidden md:block;
}
.resumeDateAndLocationMobile {
  @apply md:hidden text-neutral-600;
}

/* Project Reports: */
@page {
  margin: 20mm;
}

.markdownHtml {
  counter-reset: h2counter figcaptioncounter;
}

.toc ul {
  @apply md:pl-8;
  counter-reset: item;
}
.toc li {
  @apply block;
}
.toc li p {
  @apply inline-block text-left mt-0;
}
.toc li:before {
  @apply pr-3;
  content: counters(item, ".") "\0000a0";
  counter-increment: item;
}

.markdownHtml p {
  @apply md:text-justify mt-5;
}

@media (min-width: 768px) {
  .markdownHtml p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
}

.markdownHtml img {
  @apply block print:grayscale;
}
.markdownHtml figcaption::before {
  content: "Figure " counter(figcaptioncounter) ":\0000a0\0000a0";
}
.markdownHtml figcaption {
  @apply text-center mt-1;
  counter-increment: figcaptioncounter;
}
.markdownHtml figure {
  @apply mt-5 mx-auto max-w-full md:max-w-xl print:max-w-xl print:break-inside-avoid;
}

.markdownHtml ul {
  @apply list-inside list-disc text-justify mt-5;
}
.markdownHtml ol {
  @apply list-inside list-decimal mt-5;
}
.markdownHtml li {
  @apply mt-1;
}

.markdownHtml h2:before {
  content: counter(h2counter) "\0000a0\0000a0\0000a0";
}
.markdownHtml h2.nocount:before {
  content: none;
  counter-increment: none;
}
.markdownHtml h2 {
  @apply text-3xl leading-8 mt-12 print:break-before-page;
  counter-increment: h2counter;
  counter-reset: h3counter;
}
.markdownHtml h3:before {
  content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0\0000a0";
}
.markdownHtml h3 {
  @apply text-2xl leading-7 mt-10;
  counter-increment: h3counter;
}
.markdownHtml h2 + h3 {
  @apply mt-3;
}
.markdownHtml h2,
.markdownHtml h3 {
  @apply mb-3;
}
