@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;1,400&family=Ubuntu:ital,wght@0,300;0,400;1,300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply mr-[calc(100%-100vw)] overflow-x-hidden font-light scroll-smooth;
}
body {
  @apply max-w-3xl my-0 mx-auto bg-neutral-200 print:bg-white overflow-x-hidden;
}
a {
  @apply text-primary-500 hover:text-primary-900 transition duration-200 ease-out print:text-black;
}
hr {
  @apply w-full border-t-[2px] border-neutral-300 mb-4;
}

.markdownPages p,
.pPages {
  @apply leading-normal my-4 text-left text-xl text-neutral-900 print:text-black;
}

.markdownPages h1,
.h1Pages {
  @apply text-left text-6xl  ml-[-4px] text-neutral-900 my-4 print:text-black;
}

.markdownPages h2,
.h2Pages {
  @apply my-0 text-left text-4xl  nocount text-neutral-900 print:text-black;
}

.iframeDiv {
  @apply relative mt-3 w-full pt-[56.25%] md:w-[70%] md:pt-[39.375%] mx-auto z-50;
}

iframe {
  @apply absolute top-0 left-0;
}

.resumeDateAndLocationPC {
  @apply md:w-48 flex-none text-right hidden md:block;
}
.resumeDateAndLocationMobile {
  @apply md:hidden text-neutral-600;
}

/* Project Reports: */
@page {
  margin: 20mm;
}

.markdownProjectDetails {
  counter-reset: h2counter figcaptioncounter;
}

.toc ul {
  @apply pl-0 md:pl-8;
  counter-reset: item;
}
.toc li > ul {
  @apply pl-8;
}
.toc li {
  @apply block;
}
.toc li p {
  @apply inline-block text-left mt-0;
}
.toc li:before {
  @apply pr-3;
  content: counters(item, ".") "\0000a0";
  counter-increment: item;
}

.markdownProjectDetails p {
  @apply md:text-justify mt-5;
}

@media (min-width: 768px) {
  .markdownProjectDetails p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
  }
}

.markdownProjectDetails img {
  @apply block print:grayscale;
}
.markdownProjectDetails figcaption::before {
  content: "Figure " counter(figcaptioncounter) ":\0000a0\0000a0";
}
.markdownProjectDetails figcaption {
  @apply text-center mt-1;
  counter-increment: figcaptioncounter;
}
.markdownProjectDetails figure {
  @apply mt-5 mx-auto max-w-full md:max-w-xl print:max-w-xl print:break-inside-avoid;
}

.markdownProjectDetails ul {
  @apply list-inside list-disc text-justify mt-5;
}
.markdownProjectDetails ol {
  @apply list-inside list-decimal mt-5;
}
.markdownProjectDetails li {
  @apply mt-1;
}

.markdownProjectDetails h2:before {
  content: counter(h2counter) "\0000a0\0000a0\0000a0";
}
.markdownProjectDetails h2.nocount:before {
  content: none;
  counter-increment: none;
}
.markdownProjectDetails h2 {
  @apply text-3xl leading-8 mt-12 print:break-before-page;
  counter-increment: h2counter;
  counter-reset: h3counter;
}
.markdownProjectDetails h3:before {
  content: counter(h2counter) "." counter(h3counter) "\0000a0\0000a0\0000a0";
}
.markdownProjectDetails h3 {
  @apply text-2xl leading-7 mt-10;
  counter-increment: h3counter;
}
.markdownProjectDetails h2 + h3 {
  @apply mt-3;
}
.markdownProjectDetails h2,
.markdownProjectDetails h3 {
  @apply mb-3;
}

/* Resume: */

li span {
  @apply relative -left-1;
}
